.main_container{
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.main_landline_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main_subheading{
    margin-bottom: 2rem;
}
.main_paragraph{
    width: 50%;
    text-align: center;
    margin-bottom: 2rem;
}
.main_paragraph > p{
    font-size: 1.2rem;
}
.main_points{
    margin-bottom: 2rem;

}
.main_subheading > h1{
    font-size: 3rem;
}

.main_landline_container > img {
    box-shadow:  0.5px 1px black;
}

@media only screen and (max-width: 1024px) {
    .main_points > h2{
       font-size: 1.2rem;
    }
  }

  @media only screen and (max-width: 768px) {
    .main_points > h2{
       font-size: 1rem;
    }
  }